@import "_vars.scss";
@import "_helpers.scss";

//@import "_fonts.scss";
@import "_custom-elements.scss";
@import "components/_buttons.scss";
@import "components/_navbar.scss";
@import "components/_hero.scss";
@import "components/_logo.scss";

//@import "../public/fonts/icons/octicons.css";
@import "templates/_blog-post.scss";
@import "templates/_blog-posts.scss";
* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  color: #222;
}
ul,
li {
  list-style: none;
}
a,
input {
  outline: none;
  color: inherit;
  text-decoration: none;
}
.content {
  color: #444;
  font-family: "Noto Serif";
}
.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.clearfix {
  @include clearfix;
}
.right {
  float: right;
}
input[type="search"] {
  border: none;
  height: 42px;
  padding: 0 0px;
  font-size: 1em;
}
